<div class="form-inline">
    <div class="row">
        <div class="col-lg-5 text-center">
            <a ng-click="incrementHours()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-up"></i></a>
        </div>
        <div class="col-lg-5 text-center">
            <a ng-click="incrementMinutes()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-up"></i></a>
        </div>
        <div class="col-lg-2"> </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div class="form-group" ng-class="{'has-error': !validHours}">
                <input type="text" ng-model="hours" ng-change="updateHours()" class="form-control text-center" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2" />
            </div>
        </div>
        <div class="col-lg-5">
            <div class="input-group" ng-class="{'has-error': !validMinutes}">
                <span class="input-group-addon">:</span>
                <input type="text" ng-model="minutes" ng-change="updateMinutes()" class="form-control text-center" ng-readonly="readonlyInput" maxlength="2">
            </div>
        </div>
        <div class="col-lg-2">
            <button ng-click="toggleMeridian()" class="btn btn-default text-center" ng-show="showMeridian">{{meridian}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 text-center">
            <a ng-click="decrementHours()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
        <div class="col-lg-5 text-center">
            <a ng-click="decrementMinutes()" class="btn btn-link"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
        <div class="col-lg-2"> </div>
    </div>
</div>

